@import "tailwindcss";

@theme {
  --color-transit-sltb: #dc2626;
  --color-transit-private: #2563eb;
  --color-transit-surface: #0f172a;
  --color-transit-card: #1e293b;
}

body {
  background-color: #020617;
  color: #f8fafc;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}